<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.fit.mapper.ReplyMapper">
 
 <!-- 댓글 등록 -->
 <insert id="regReply">
 	insert into qna_reply(aId, qrCon) values(#{aId}, #{qrCon})
 	</insert>
 	
 	
  </mapper>