@charset "UTF-8";
#header_wrap{
	position: relative;
	height: 198px;
}
#logo_wrap{
	position: absolute;
	width: 314px;
	height: 141px;
	left: 535px;
	top: 34px;

	background: #FFFFFF;
}
#submenu{
	position: absolute;
	width: 49px;
	height: 48px;
	left: 1050px;
	top: 94px; 
}
#submenu ul {
	list-style-type: none;
	width: 300px;
	height: 50px;
}
#submenu ul li {
	float: left;
	margin-left: 10px;
}
#gnb {
	height: 90px;
}
#gnb ul{
	height: 89px;
	padding: 29px 0;
	list-style-type: none;
	border-bottom: 1px solid black;
	
}
#gnb ul li {
	float: left;
	margin-left: 10px;
	padding: 5px 10px;
}

 