/* header */


/* login text */


h1 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #000000;
}


/* join text */


h2 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #000000;
	}


/* qna text */


h3 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #000000;
}


/* order view text */


h4 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #000000;
	}


/* menu text*/


h5 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 39px;
	color: #000000;
}


/* menu box */


p.important {
	border-bottom: 1px solid #000000
}


/* table */


h6 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 58px;
	color: #000000;
}

table {
	width: 100%;
	border-collapse: collapse;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
}

table td {
	border-bottom: #333333 solid 1px;
	padding: 5px;
}

table th {
	border-bottom: #111111 solid 1px;
	padding: 5px;
}

th {
	font-weight: 500;
}

a {
	text-decoration: none;
	color: #000000;
}

a:HOVER {
	text-decoration: underline;
	color: #000000;
}


/* button */


.button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #2E9DE5;
  box-shadow: 0px 15px 20px rgba(46, 157, 229, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.modify-button{
	display: inline-block;
  	padding: 1em 0;
  	border-radius: 0;
	color: #aaaaaa;
  	margin-top:2rem;
  	font-weight: bold;
  	font-size: 0.678rem;
  	letter-spacing: 2px;
  	text-transform: uppercase;
  	text-decoration: none;
	position: relative;
	&:before,
	&:after{
		content: '';
    	display: block;
    	position: absolute;
    	height: 1px;
    	width: 0;

	}
	&:before{
		transition: width 0s ease,background .4s ease;
		left: 0;
		right: 0;
    	bottom: 6px;
	}
	&:after{
		right: 2.2%;
    	bottom: 6px;
    	background: #aaaaaa;
		transition: width .4s ease;
	}
	
	&:hover{
		&:before{
			width: 97.8%;
			background: #aaaaaa;
    		transition: width .4s ease;
		}
		&:after{
			width: 97.8%;
    		background: 0 0;
			transition: all 0s ease;
		}
	}
}